body {
  margin: 0;
  padding: 0;
}

.logo {
  display: inline-block;
  font-family: 'Zilla Slab Highlight';
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 32px;
  background-color: white;
  color: black;
}

.logo-white {
  background-color: black;
  color: white;
}

.top-header {
  padding: 50px 150px 0 50px;
  display: flex;
  text-align: left;
}

.top-header .moz-logo {
  width: 113px;
}

.top-header a {
  flex: 1;
}

.top-header nav {
  text-align: right;
  flex: 1;
}

.top-header nav ul {
  display: inline-flex;
  list-style-type: none;
}

.top-header nav ul li {
  padding-left: 20px;
}

.top-header nav ul li a {
  font-family: 'Zilla Slab';
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #5ec8de;
  text-decoration: none;
  padding-bottom: 5px;
}

.top-header nav ul li a:hover {
  box-shadow: inset 0 -4px 0 #5ec8de;
}

.top-header .logo-subtext {
  font-family: 'Zilla Slab Highlight';
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  background-color: black;
  color: white;
}

.home header {
  background-image: url('/img/img-header.svg');
  background-size: cover;
  text-align: center;
}

.home header h1 {
  font-size: 46px;
  font-family: 'Fira Sans';
  line-height: 1.12;
  letter-spacing: 0.4px;
  color: #88d1f1;
  width: 50%;
  display: block;
  margin: 0 auto;
}

.home header h3 {
  font-family: 'Zilla Slab';
  font-weight: 600;
  font-size: 26px;
  font-weight: 600;
  line-height: 0.79;
  letter-spacing: 8.4px;
  color: #6bc2f1;
  opacity: 0.6;
}

.home header #countdown,
.home header .sites-tested {
  letter-spacing: 1.7px;
}

.home header .intro {
  padding-top: 200px;
  padding-bottom: 150px;
}

.home .description-container {
  background-color: #f3f3f3;
  padding-bottom: 50px;
}

.home .description {
  width: 50%;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.home .description h2,
.home .events h2 {
  margin-top: 0;
  padding-top: 50px;
  font-family: 'Zilla Slab';
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 6.2px;
  color: #33525d;
  text-transform: uppercase;
}

.home .description p {
  margin-top: 19px;
  font-family: 'Fira Sans';
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.7px;
  color: #49758a;
}

.home .description iframe {
  width: 100%;
  margin-top: 40px;
}

.home .action-buttons {
  display: flex;
  text-align: center;
  width: 100%;
}

.home .action-buttons .box {
  padding: 40px 0;
  flex: 1;
  color: #ffffff;
  font-family: 'Fira Sans';
  height: 440px;
  text-decoration: none;
  display: block;
}

.home .action-buttons .box p:hover {
  text-decoration: underline;
}

.home .action-buttons .box:nth-child(1) {
  background-color: #59b5b0;
}

.home .action-buttons .box:nth-child(2) {
  background-color: #7474b5;
}

.home .action-buttons .box h3 {
  font-size: 24px;
  letter-spacing: -0.5px;
  margin-bottom: 0;
}

.home .action-buttons .box h2 {
  margin-top: 0;
  font-family: 'Fira Sans';
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.home .events {
  background-color: #eef2f4;
  text-align: center;
  padding-bottom: 50px;
}

.home .events .map {
  display: flex;
  font-family: 'Fira Sans';
}

.event-details {
  flex: 1;
  text-align: left;
  padding-left: 60px;
}

.event-details h5 {
  flex: 1;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #33525d;
  margin: 30px 0 0 0;
}

.event-details h5:first-child {
  margin: 20px 0 0 0;
}

.event-details p {
  flex: 1;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.5px;
  color: #558194;
  margin: 7px 0 0 0;
}

.button {
  margin-top: 30px;
  font-family: 'Fira Sans';
  display: block;
  width: 160px;
  height: 40px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
}

.register-button {
  background-color: #88d1f1;
  color: #558194;
  padding: 20px 0px 0px 20px;
}

.involve-button {
  background-color: #7474b5;
  color: #fff;
  padding: 10px 0px 0px 40px;
  margin-top: 0;
  height: 30px;
}

.button:hover {
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
}

.map-canvas {
  height: 30rem;
}

.home .events .map .map-canvas {
  flex: 2;
}

.home .info-buttons {
  background-image: linear-gradient(to bottom, #535382, #2d2c55);
  display: flex;
  text-align: center;
  font-family: 'Fira Sans';
  padding: 56px 0;
}

.home .info-buttons p {
  font-size: 14px;
  letter-spacing: -0.3px;
  color: #c2e8f9;
  margin-bottom: 0;
}

.home .info-buttons .title {
  font-size: 28px;
  letter-spacing: -0.6px;
  color: #c2e8f9;
  text-decoration: none;
}

.home .info-buttons .report,
.home .info-buttons .leaderboard,
.home .info-buttons .github {
  flex: 1;
}

.home .info-buttons .report img,
.home .info-buttons .github img {
  width: 90px;
}

.home .interested {
  height: 100px;
  background-color: #6fcac5;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .interested p {
  margin: 0 50px 0 0;
  font-family: 'Fira Sans';
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -0.6px;
  color: #ffffff;
}

footer {
  background:
    url('/img/img-planet-closeup.svg') bottom right no-repeat,
    linear-gradient(to top, #535382, #2d2c55);
  padding-top: 30px;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  height: 300px;
}

footer .info {
  display: flex;
  flex-direction: column;
}

footer .footer-globe {
  flex: 1;
}

footer .icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  margin-bottom: 100px;
}

footer .icons .icon {
  display: inline-flex;
  align-items: center;
  padding-top: 10px;
  flex: 1;
  min-width: 200px;
}

footer .icons .icon .footer-icon {
  width: 24px;
  padding-right: 10px;
}

footer .icons a {
  font-family: 'Fira Sans';
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.3px;
  color: #87d3e7;
  text-decoration: none;
}

footer .footer-content {
  font-family: 'Fira Sans';
  font-size: 10px;
  letter-spacing: -0.2px;
  color: #ffffff;
  width: 30%;
}

footer .footer-content p {
  opacity: 0.5;
}

footer .footer-content a {
  text-decoration: none;
  color: inherit;
}
