<nav>
  <ul>
      <li><a href="{{ '/host/' | prepend: site.baseurl }}">Host</a></li>
      <li><a href="{{ '/register/' | prepend: site.baseurl }}">Register</a></li>
      <li><a href="{{ '/participate/' | prepend: site.baseurl }}">Attend</a></li>
      <li><a href="{{ '/reporting/' | prepend: site.baseurl }}">Report</a></li>
      <li><a href="{{ '/leaderboard/' | prepend: site.baseurl }}">Leaderboard</a></li>
      <li><a href="{{ '/faq/' | prepend: site.baseurl }}">FAQ</a></li>
    </ul>
</nav>

