---
layout: default
---
<div class="home">
  <header>
    <div class="top-header">
      {% include logo.html %}
      {% include navigation.html %}
    </div>

    <div class="intro">
      <h3>2-8 October 2017</h3>
    <h1>Help us make a successful Firefox Quantum launch!</h1>
    <h3 id="countdown"></h3>
    <h3 class="sites-tested"></h3>
    </div>
  </header>

  <section class="description-container">
    <img class="spaceship" src="/img/img-spaceship.svg" />
    <img class="spaceship-path" src="/img/img-spaceship-path.svg" />
    <img class="flag" src="/img/img-flag-grey.svg" />
    <div class="description">
      <h2>Firefox strikes back!</h2>
      <p>Firefox Quantum is soon to be launched and this is our opportunity to make Firefox rise again. Participate in the Firefox Quantum Sprint and make a difference by ensuring that Firefox runs smoothly in your region.</p>
      <iframe width="500" height="450" src="https://www.youtube.com/embed/Uye6h0pW_X0?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>

  <section id="actions" class="action-buttons">
    <a class="box" href="{{ '/host/' | prepend: site.baseurl }}">
      <h3>you could either</h3>
      <h2>host an event</h2>
      <img src="/img/host.png" alt="" />
      <p>learn more</p>
    </a>
    <a class="box" href="{{ '/participate/' | prepend: site.baseurl }}">
      <h3>or you could</h3>
      <h2>attend an event</h2>
      <img src="/img/attend.png" alt="" />
      <p>learn more</p>
    </a>
  </section>

  <section class="events">
    <h2>Planned events</h2>

    {% include map.html %}
  </section>

  <section class="info-buttons">
    <div class="report">
      <a href="{{ '/reporting/' | prepend: site.baseurl }}"><img src="/img/icon-upload.svg" alt="" /></a>
      <p>Upload your progress</p>
      <a class="title" href="{{ '/reporting/' | prepend: site.baseurl }}">Report</a>
    </div>
    <div class="leaderboard">
      <a href="{{ '/leaderboard/' | prepend: site.baseurl }}"><img src="/img/icon-leaderboard.svg" alt="" /></a>
      <p>See the ranking on the</p>
      <a class="title" href="{{ '/leaderboard/' | prepend: site.baseurl }}">Leaderboard</a>
    </div>
    <div class="github">
      <a href="https://github.com/{{ site.github.repo }}"><img src="/img/icon-github.svg" alt="" /></a>
      <p>View our code on</p>
      <a class="title" href="https://github.com/{{ site.github.repo }}">GitHub</a>
    </div>
  </section>

  <section class="interested">
    <p>Still interested?</p>
    <a class="button involve-button" href="#actions">Get involved!</a>
  </section>
</div>

<script src="{{ site.baseurl }}/js/countdown.js"></script>
<script src="{{ site.baseurl }}/js/sites-tested.js"></script>
