---
layout: default
---
<div class="hero-unit home-page">
  <h1>Firefox Campaign</h1>
  <h2>September/October 2017</h2>
  <h2 id="countdown">&nbsp;</h2>
  <h2 class="sites-tested hidden">&nbsp;</h2>
</div>
<div class="home-page">
  <div class="intro">
    <p>
      This campaign is... something!
    </p>
  </div>

  <div class="flex row-xs-center ">
    <div class="btn-group-lg">
      <a class="btn btn-lg btn-default btn-next btn-xs-full" href="{{ '/host/' | prepend: site.baseurl }}">Become a host&nbsp;&nbsp;<i class="fa fa-play" aria-hidden="true"></i></a>
      <a class="btn btn-lg btn-default btn-next btn-xs-full" href="{{ '/participant/' | prepend: site.baseurl }}">Attend an event&nbsp;&nbsp;<i class="fa fa-play" aria-hidden="true"></i></a>
    </div>
  </div>

  <div class="map">
    <iframe width="100%" height="520" frameborder="0" src="https://www.google.com/maps/d/u/0/embed?mid=1AaL9Hv0VroENQOEjIY2aYPhCKic&zoom=14" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
  </div>

  <script src="{{ site.baseurl }}/js/countdown.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js'></script>
  <script src="{{ site.baseurl }}/js/sites-tested.js"></script>

</div>
