---
layout: default
---
<div class="hero-unit home-page">
  <h1>Firefox WebCompat Campaign</h1>
  <h2>September/October 2017</h2>
</div>
<div class="home-page">
  <div class="intro">
    <p>
      This campaign is... something!
    </p>
  </div>

  <div class="flex row-xs-center">
    <div class="btn-group-lg">
      <a class="btn btn-lg btn-default btn-next btn-xs-full" href="{{ '/host/' | prepend: site.baseurl }}">Become a host&nbsp;&nbsp;<i class="fa fa-play" aria-hidden="true"></i></a>
      <a class="btn btn-lg btn-default btn-next btn-xs-full" href="{{ '/participant/' | prepend: site.baseurl }}">Attend an event&nbsp;&nbsp;<i class="fa fa-play" aria-hidden="true"></i></a>
    </div>
  </div>

</div>
