---
layout: default
---
<div class="host">
  <header>
    <div class="top-header">
      {% include logo.html %}
      {% include navigation.html %}
    </div>

    <h1>You want to host a Sprint event?</h1>
    <h2>You've come to the right place!</h2>
  </header>

  <section class="content">
    <h2>
      <span class="capitalize">S</span>
      <span class="capitalize-content">
        o you decided to host an event, congratulations! Your efforts will help Firefox to have a successful launch.<br />
        In case you haven’t organized an event before, you can find everything on how to organize an event on this event guide.
      </span>
    </h2>

    {{content}}
  </section>
</div>
