---
layout: default
---
<div class="participate">
  <header>
    <div class="top-header">
      {% include logo.html %}
      {% include navigation.html %}
    </div>

    <h1>Attend and help us</h1>
    <h2>We'll show you around!</h2>
  </header>

  <section class="content">
    <h2>
      <span class="capitalize">T</span>
      <span class="capitalize-content">
        hanks for your interest in attending an event!<br /> 
        Read below to learn more.
      </span>
    </h2>

    {{content}}
  </section>
</div>
