---
layout: default
---
<div class="host">
  <header>
    <div class="top-header">
      {% include logo.html %}
      {% include navigation.html %}
    </div>

    <h1>Attend an event in your area</h1>
    <h2>to help us test Firefox</h2>
  </header>

  <section class="content">
    <h2>
      <span class="capitalize">T</span>
      <span class="capitalize-content">
        hanks for your interest to register for an event!<br />
        We are always happy to add new events to our list.
      </span>
      <br />
      <a class="button register-button" href="https://docs.google.com/forms/d/e/1FAIpQLSdcae57eJpqnFEPHwe4HjIzuvpe1RoRzsibH3vY4gmSikFxaA/viewform" target="_blank">Register your event</a>
    </h2>
    <div class="content-box content-box--full">
      {{content}}
    </div>
  </section>
</div>

<script src="{{ site.baseurl }}/js/map.js"></script>
<script src="{{ site.baseurl }}/js/mapData.js"></script>
