---
layout: default
---
<div class="host">
  <header>
    <div class="top-header">
      {% include logo.html %}
      {% include navigation.html %}
    </div>

    <h1>Attend an event in your area</h1>
    <h2>to help us test Firefox</h2>
  </header>

  <section class="content">
    <h2>
      <span class="capitalize">T</span>
      <span class="capitalize-content">
        hank you for your interest registering an event.
        <br />
        Unfortunately, we have stopped taking event registrations since the campaign is over.
      </span>
    </h2>
    <div class="content-box content-box--full">
      {{content}}
    </div>
  </section>
</div>

<script src="{{ site.baseurl }}/js/map.js"></script>
<script src="{{ site.baseurl }}/js/mapData.js"></script>
